$white: #fff;
$black: #000;
$lightColor: #fefefe;
$darkColor: #333333;
$redColor: #ED3030;

$offerGradient: linear-gradient(0deg, rgba($color: $black, $alpha: 1.0) 0%, rgba($color: $black, $alpha: 0) 100%);
