$content-drawer-h3-margin: 30px;
$content-drawer-text-margin: 50px;
$content-drawer-button-margin: 50px;

$content-drawer-h3-margin-mobile: 20px;
$content-drawer-text-margin-mobile: 30px;
$content-drawer-button-margin-mobile: 30px;


$offer-price-margin: 15px;
$offer-button-margin: 30px;

$footer-link-margin: 15px;