@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
.content-container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
@media (max-width: 630px) {
  .content-container {
    padding: 0 15px;
  }
}
.content-container.no-padding {
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-family: "Bayon", sans-serif;
  font-size: 90px;
  line-height: 80%;
}

h2 {
  font-size: 90px;
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  line-height: 80%;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

span,
p {
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 630px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 70px;
  }
  h3 {
    font-size: 18px;
  }
  span,
  p {
    font-size: 18px;
  }
}
body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  color: #333333;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 5px;
  padding: 18px 25px 17px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
.button span {
  margin: 0 10px 0 0;
  font-size: 15px;
  font-weight: 700;
}
.button .icon {
  width: 15px;
  height: 15px;
  transition: 0.7s;
}
.button:hover .icon {
  transform: translateX(5px);
}
.button.primary {
  background-color: #fefefe;
}
.button.primary span {
  color: #333333;
}
.button.primary .icon path {
  fill: #333333;
}
.button.secondary {
  background-color: #333333;
}
.button.secondary span {
  color: #fefefe;
}
.button.secondary .icon path {
  fill: #fefefe;
}
.button.light {
  background-color: transparent;
  padding: 0;
}
.button.light span {
  color: #fefefe;
}
.button.light .icon path {
  fill: #fefefe;
}

button {
  border: none;
  background-color: transparent;
}

@media (max-width: 630px) {
  .button {
    padding: 9px 10px 8px 10px;
  }
  .button span {
    margin-right: 5px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 9999;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav .hamburger-menu {
  width: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 19px 0;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.header .nav .hamburger-menu div {
  width: 25px;
  height: 4px;
  background-color: #fefefe;
  transition: 0.7s;
}
.header .nav .hamburger-menu div:nth-child(2) {
  width: 100%;
  margin: 5px 0;
}
.header .nav .hamburger-menu:hover div {
  width: 100%;
}
.header .nav .hamburger-menu:hover div:nth-child(2) {
  width: 25px;
}
.header .nav .quick-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.header .nav .quick-menu__item {
  width: 20px;
  height: 20px;
}
.header .nav .quick-menu__item:not(:last-child) {
  margin-right: 20px;
}
.header .nav .quick-menu__item svg {
  width: 100%;
  height: 100%;
}
.header .nav .quick-menu__item svg path {
  transition: 0.7s;
  fill: #fefefe;
}
.header .nav .nav-bar-container {
  width: 100%;
  position: absolute;
  background-color: #fefefe;
  height: 100dvh;
  left: 0;
  top: 0;
  transition: 1s;
  transform: translateY(-105%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav .nav-bar-container .link-list {
  list-style: none;
}
.header .nav .nav-bar-container .link-list li {
  overflow: hidden;
}
.header .nav .nav-bar-container .link-list li a {
  font-size: 90px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  position: relative;
}
.header .nav .nav-bar-container .link-list li a:hover::before {
  transform: translateX(0);
}
.header .nav .nav-bar-container .link-list li a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateX(-101%);
  height: 20px;
  bottom: 10px;
  transition: 0.7s;
  background-color: #ED3030;
}
.header.active .nav .hamburger-menu div {
  background-color: #333333;
}
.header.active .nav .quick-menu__item svg path {
  fill: #333333;
}
.header.active .nav .nav-bar-container {
  transform: translateY(0);
}

@media (max-width: 630px) {
  .header .nav .nav-bar-container .link-list li a {
    font-size: 70px;
  }
}
.content-drawer {
  display: flex;
  align-items: stretch;
}
.content-drawer__content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.content-drawer__content h3 {
  margin-top: 30px;
}
.content-drawer__content p {
  margin-top: 50px;
}
.content-drawer__content .button {
  margin-top: 50px;
}
.content-drawer.image .content-drawer__image {
  max-width: 50%;
}
.content-drawer.image .content-drawer__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.content-drawer.align-right.image {
  flex-direction: row-reverse;
}
.content-drawer.align-left {
  justify-content: flex-start;
}
.content-drawer.align-left .content-drawer__content {
  align-items: flex-start;
  padding: 90px 90px 90px 50px;
}
.content-drawer.align-right {
  justify-content: flex-end;
}
.content-drawer.align-right .content-drawer__content {
  align-items: flex-end;
  padding: 90px 50px 90px 90px;
}
.content-drawer.align-right .content-drawer__content h2, .content-drawer.align-right .content-drawer__content h3, .content-drawer.align-right .content-drawer__content p {
  text-align: right;
}
.content-drawer.light-text {
  color: #fefefe;
}

@media (max-width: 824px) {
  .content-drawer__content h2 {
    word-break: break-word;
  }
  .content-drawer.align-left .content-drawer__content {
    padding: 40px 40px 40px 20px;
  }
  .content-drawer.align-right .content-drawer__content {
    padding: 40px 20px 40px 40px;
  }
}
@media (max-width: 630px) {
  .content-drawer__content {
    max-width: 100%;
  }
  .content-drawer__content h3 {
    margin-top: 20px;
  }
  .content-drawer__content p {
    margin-top: 30px;
  }
  .content-drawer__content .button {
    margin-top: 30px;
  }
  .content-drawer.align-left .content-drawer__content {
    padding: 0;
  }
  .content-drawer.align-right .content-drawer__content {
    padding: 0;
  }
  .content-drawer.image, .content-drawer.align-right.image {
    flex-direction: column-reverse;
  }
  .content-drawer.image .content-drawer__image, .content-drawer.align-right.image .content-drawer__image {
    max-width: 100%;
    height: 345px;
  }
  .content-drawer.image .content-drawer__content, .content-drawer.align-right.image .content-drawer__content {
    padding: 30px 20px;
  }
}
.main.home-page .hero {
  height: 100svh;
  position: relative;
}
.main.home-page .hero .mouse-movement {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  width: 26px;
  height: 40px;
  border: 2px solid #fefefe;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}
.main.home-page .hero .mouse-movement.hide-scroll {
  opacity: 0;
}
.main.home-page .hero .mouse-movement--scroll {
  width: 4px;
  height: 10px;
  background-color: #fefefe;
  border-radius: 20px;
  transform: translateY(8px);
  animation: infiniteSroll 1s linear infinite;
}

@keyframes infiniteSroll {
  from {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(11px);
  }
  to {
    transform: translateY(8px);
  }
}
.main.home-page .carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #000;
}
.main.home-page .carousel__item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: scale(1.2);
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}
.main.home-page .carousel__item.active-slide {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}
.main.home-page .carousel__item--background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../src/assets/images/carousel.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main.home-page .carousel__item--background.image-right {
  background-position: top right;
}
.main.home-page .carousel__item--content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.main.home-page .carousel__item--video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main.home-page .carousel__item--logo-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
.main.home-page .carousel__loader {
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.main.home-page .carousel__loader--load-bar {
  width: 0%;
  position: absolute;
  height: 100%;
  background-color: #fefefe;
}

@media (max-width: 630px) {
  .main.home-page .carousel__item--background {
    background-image: url("../../src/assets/images/carousel-mobile.webp");
  }
  .main.home-page .carousel__item--content {
    align-items: flex-end;
    padding: 0 0 50px 0;
  }
}
.bestsellers {
  width: 100%;
}

@media (max-width: 824px) {
  .bestsellers .offer-grid__item:nth-child(3) {
    display: none;
  }
}
.offer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.offer-grid__item {
  position: relative;
  min-height: 550px;
  overflow: hidden;
  transition: 0.7s;
}
.offer-grid__item--image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.offer-grid__item--image-container .offer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s;
}
.offer-grid__item--image-container.two-images .offer-image:nth-child(2) {
  display: block;
  transform: translateX(-100%);
}
.offer-grid__item--content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 20px 25px 20px;
  height: 100%;
  color: #fefefe;
  z-index: 2;
}
.offer-grid__item--content-container .offer-ribbon {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: #ED3030;
  padding: 6px 6px 3px 6px;
  border-radius: 5px;
}
.offer-grid__item--content-container .offer-name, .offer-grid__item--content-container .offer-price, .offer-grid__item--content-container .button {
  transform: translateY(20px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: 0s;
}
.offer-grid__item--content-container .offer-name {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.offer-grid__item--content-container .offer-price {
  font-size: 15px;
  font-weight: 300;
  margin-top: 15px;
}
.offer-grid__item--content-container .button {
  margin-top: 30px;
}
.offer-grid__item::before {
  content: "";
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.5s;
  z-index: 1;
}
.offer-grid__item:hover::before {
  height: 170px;
}
.offer-grid__item:hover .offer-grid__item--image-container.two-images .offer-image:nth-child(1) {
  transform: translateX(100%);
}
.offer-grid__item:hover .offer-grid__item--image-container.two-images .offer-image:nth-child(2) {
  transform: translateX(0);
}
.offer-grid__item:hover .offer-grid__item--content-container .offer-name, .offer-grid__item:hover .offer-grid__item--content-container .offer-price, .offer-grid__item:hover .offer-grid__item--content-container .button {
  transform: translateY(0);
  opacity: 1;
}
.offer-grid__item:hover .offer-grid__item--content-container .offer-name {
  transition-delay: 0.2s;
}
.offer-grid__item:hover .offer-grid__item--content-container .offer-price {
  transition-delay: 0.3s;
}
.offer-grid__item:hover .offer-grid__item--content-container .button {
  transition-delay: 0.4s;
}
.offer-grid__item.hidden-element {
  transform: translateY(25px);
  opacity: 0;
}
.offer-grid .offer-gird__error-message {
  display: none;
}
.offer-grid.error {
  grid-template-columns: 1fr;
}
.offer-grid.error .offer-gird__error-message {
  display: block;
  text-align: center;
  padding: 50px 0;
}

@media (max-width: 824px) {
  .offer-grid {
    grid-template-columns: 1fr 1fr;
  }
  .offer-grid__item--image-container.two-images .offer-image:nth-child(2) {
    display: none;
  }
  .offer-grid__item--content-container .offer-name, .offer-grid__item--content-container .offer-price, .offer-grid__item--content-container .button {
    transform: translateY(0px);
    opacity: 1;
  }
  .offer-grid__item::before {
    height: 170px;
  }
  .offer-grid__item:hover .offer-grid__item--image-container.two-images .offer-image:nth-child(1), .offer-grid__item:hover .offer-grid__item--image-container.two-images .offer-image:nth-child(2) {
    transform: none;
  }
}
@media (max-width: 630px) {
  .offer-grid {
    grid-template-columns: 1fr;
  }
  .offer-grid__item:nth-child(3) {
    display: block;
  }
  .offer-grid__item {
    min-height: 500px;
  }
}
.newsletter__content-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 50px;
  background-color: #333333;
  color: #fefefe;
  box-shadow: 0px 0px 73px -26px #333333;
}
.newsletter__content-container--title {
  position: relative;
  overflow: hidden;
}
.newsletter__content-container--title h2 {
  background-color: #333333;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px 0 0;
}
.newsletter__content-container--title::before {
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #fefefe;
}
.newsletter__content-container--content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.newsletter__content-container--actions {
  margin-top: 50px;
}

@media (max-width: 824px) {
  .newsletter__content-container--content {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (max-width: 630px) {
  .newsletter__content-container {
    margin: 0;
    padding: 30px 20px;
  }
  .newsletter__content-container--title h2 {
    padding: 0;
    word-wrap: break-word;
    width: 100%;
  }
  .newsletter__content-container--title::before {
    display: none;
  }
  .newsletter__content-container--content {
    margin-top: 30px;
  }
  .newsletter__content-container--actions {
    margin-top: 30px;
  }
}
.container__content-container {
  position: relative;
  display: flex;
}
.container__content-container--video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
  position: absolute;
}
.container__content-container--content {
  position: relative;
}

@media (max-width: 630px) {
  .container.video-bg {
    background-color: #333333;
  }
  .container.video-bg .container__content-container--content {
    padding: 30px 20px;
  }
  .container__content-container {
    flex-direction: column;
  }
  .container__content-container--video {
    position: relative;
    min-height: 345px;
    -o-object-position: center;
       object-position: center;
  }
  .container__content-container--content h2 {
    word-break: break-word;
  }
}
.product-grid {
  width: 100%;
}
.product-grid__content-container {
  text-align: center;
  position: relative;
  margin: 80px 0 120px 0;
}
.product-grid__content-container .bg-icon {
  width: 100%;
  position: absolute;
  left: 0;
  top: -40px;
}
.product-grid__offer-loader {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-grid__offer-loader--loader {
  display: flex;
  align-items: center;
  padding: 250px 0 0 0;
}
.product-grid__offer-loader--loader.hide {
  display: none;
}
.product-grid__offer-loader--loader div {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 3px solid #333333;
  border-bottom: 3px solid #ED3030;
  animation: loading 1s infinite linear;
}
.product-grid__offer-loader--loader span {
  margin-left: 5px;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {
  width: 100%;
  background-color: #333333;
  padding: 20px 0;
}
.footer__content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 0 40px 0;
  gap: 15px;
}
.footer__content-container--item {
  display: flex;
  flex-direction: column;
}
.footer__content-container--item a {
  color: #fefefe;
}
.footer__content-container--item a:not(:last-child) {
  margin: 0 0 15px 0;
}
.footer__policy span {
  color: #fefefe;
}

@media (max-width: 824px) {
  .footer__content-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 630px) {
  .footer__content-container {
    gap: 30px;
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=main.css.map */